@import "~src/style/_variables";

.btn {
  
  position: relative;

  display:table;
  @include pxtoem(18, 24);

  margin:0 auto;
  padding: 0px 56px;
  
  text-align: center;

  min-height: 100px;
  
  cursor: pointer;
  text-decoration:none;

  border-radius: 100px;

  color: white;
  background-color: $burnt-yellow;

  cursor: pointer;

  div {
    margin-top: 34px;
  }

  @include phones {
    min-height: 50px;
    height: 50px;

    padding: 0px 28px;

    div {
      margin-top: 11px;
    }
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px;
  
    box-shadow: 0 0 25px 0 rgba(225, 167, 8, 0.6);

    opacity: 0;
    @include transition(opacity, 500ms, ease-in-out);
  }

  &:hover {

    &::after {
      opacity: 1;
    }
  }

  // White bg 
  &.white {
    
    border: solid 2px $burnt-yellow;

    background-color: white;
    color: $burnt-yellow;

  }
}