@import "~src/style/_variables";


#all {
  text-align: right;
}

#story {
  h5 {
    margin-top: 5%;
    margin-bottom: 14%;
  }

  p {
    @include pxtoem(12, 24);
    color: $very-light-pink;

    margin: 0;
    text-transform: uppercase;
  }

  ::ng-deep ol {
      padding-left: 4%;
  }

  .prev-next {
    margin-bottom: 10%;

    a {
      color: $very-light-pink;
    }
    &.next {
      text-align: right;
    }
  }

  #art {
    align-items: center;
    margin-bottom: 5%;
    
    svg {
      position: absolute;
      z-index: -1;
    }
  }

  #links {
    word-break: break-all;
  }
}