<section *ngIf="hasContent">

  <pathway-grid #grid [pathway]="pathwaySlug" [overlay]="true" [names]="stories"></pathway-grid>

  <div class="column columns is-multiline is-mobile is-centered no-margin">

    <div id="all" class="column is-full">
      <a (click)="openStories()">See All Stories In This Pathway</a>
    </div>

    <h2 class="outline pg-header column is-full" [attr.data-text]="pathwayName">
      {{pathwayName}}
      <svg xmlns="http://www.w3.org/2000/svg" width="135" height="15" fill="none" viewBox="0 0 135 15" class="decor">
        <path fill="url(#a)"
          d="M135 0c0 8.278-6.722 15-15 15-15 0-11.222-11.222-26.222-11.222C78.778 3.778 82.5 15 67.5 15c-15 0-11.278-11.222-26.278-11.222C26.222 3.778 30 15 15 15 6.722 15 0 8.278 0 0h135z" />
        <defs>
          <linearGradient id="a" x2="70" y1="3.889" y2="3.889" gradientUnits="userSpaceOnUse">
            <stop stop-color="#f5d7d5" />
            <stop offset="1" stop-color="#f2a191" />
          </linearGradient>
        </defs>
      </svg>
    </h2>

    <div id="story" class="columns column is-multiline is-mobile no-margin no-pad">

      <div class="column is-half-mobile prev-next no-pad hidden-tablet-plus">
        <span *ngIf="prev">
          <a routerLink="/pathway/{{pathwaySlug}}/story/{{prev.slug}}">

            <div class="arrow prev">
              <svg width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#e1a708" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
              </svg>
            </div>
            <div>
              {{prev.name.first}} {{prev.name.last}}
            </div>

          </a></span>
      </div>
      <div class="column prev-next next no-pad hidden-tablet-plus">
        <span *ngIf="next"><a routerLink="/pathway/{{pathwaySlug}}/story/{{next.slug}}">

            <div class="arrow next">
              <svg width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#e1a708" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
              </svg>
            </div>
            <div>
              {{next.name.first}} {{next.name.last}}
            </div>
          </a></span>
      </div>

      <div class="column is-4-tablet prev-next hidden-mobile">
        <span *ngIf="prev"><a routerLink="/pathway/{{pathwaySlug}}/story/{{prev.slug}}">
            <div class="arrow prev">
              <svg width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#e1a708" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
              </svg>
            </div>
            <div>
              {{prev.name.first}} {{prev.name.last}}
            </div>
          </a></span>
      </div>
      <div id="art" class="center-content column is-full-mobile">

        <svg xmlns="http://www.w3.org/2000/svg" width="271" height="270" fill="none" viewBox="0 0 271 270">
          <path stroke="#DDD" stroke-width="2"
            d="M.004 134l269.998-1.159M136.009 0v270M67.716 66.293L204.05 202.628M203.716 67.707L67.381 204.042" />
          <circle cx="135.009" cy="135" r="60" stroke="#DDD" stroke-width="2" />
          <circle cx="134.509" cy="135.5" r="97.5" stroke="#DDD" stroke-width="2" />
        </svg>

        <grid-icon [index]="iconIndex" [color]="iconColor"></grid-icon>

      </div>
      <div class="column prev-next next hidden-mobile">
        <span *ngIf="next"><a routerLink="/pathway/{{pathwaySlug}}/story/{{next.slug}}">
          
          <div class="arrow next">
              <svg width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#e1a708" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
              </svg>
            </div>
            <div>
                {{next.name.first}} {{next.name.last}}
                </div>
          </a></span>
      </div>
      <h5 class="column is-full gang">{{content.name.first}} {{content.name.last}}</h5>

      <div class="column is-full-mobile is-5-tablet">
        <p>What your pathway has been</p>
      </div>
      <div class="column is-6-tablet">{{content.pathway}}</div>

      <div class="column is-full-mobile is-5-tablet">
        <p>Why you got started</p>
      </div>
      <div class="column is-6-tablet">{{content.why}}</div>

      <div class="column is-full-mobile is-5-tablet">
        <p>What you did</p>
      </div>
      <div class="column is-6-tablet">{{content.what}}</div>

      <div class="column is-full-mobile is-5-tablet">
        <p>How you got started</p>
      </div>
      <div class="column is-6-tablet">{{content.how}}</div>

      <div class="column is-full-mobile is-5-tablet">
        <p>&ldquo;Dead cows&rdquo;</p>
      </div>
      <div class="column is-6-tablet" [innerHtml]="content.deadCows.html"></div>

      <div class="column is-full-mobile is-5-tablet">
        <p>Your vision of what comes next</p>
      </div>
      <div class="column is-6-tablet">{{content.vision}}</div>

      <div class="column is-full-mobile is-5-tablet" *ngIf="content.links && content.links.html.length > 0">
        <p>Links</p>
      </div>
      <div id="links" class="column is-6-tablet" [innerHtml]="content.links.html" *ngIf="content.links"></div>
    </div>
  </div>

</section>
