@import "~src/style/_variables";

.pathway {

margin-top: 10%;

  &:nth-child(odd) {
    background-color: rgba(244, 204, 199, 0.2);
  }

  header {
      margin-bottom: 12%;

      nav {
        min-height: 360px;
    
        @include phones {
          min-height: 160px;
        }
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        div {
          align-items: center;
          text-align: center;
    
          @include pxtoem(24, 48);
    
          svg {
            position: absolute;
            z-index: -1;
          }
        }
    
        div,
        svg {
          max-width: 360px;
          max-height: 360px;
    
          @include phones {
            max-width: 160px;
            max-height: 160px;
          }
        }
      }
  }

  .arrow {
    @include arrow-btn();
  }

  .slide-item {
    text-align: center;

    grid-icon {
      display: block;
      margin-top: 7%;
      margin-bottom: 7%;
    }

    a {
      color: black;

      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }

      span {
        color: $burnt-yellow;
        text-transform: uppercase;
      }
    }

    .name {
      font-size: 1.3em;
    }
  }

  .btn {
      margin-top: 10%;
      margin-bottom: 10%;
  }
}
