<section *ngIf="hasContent">

  <div class="columns is-multiline is-mobile is-centered no-margin" id="top">
    <h2 class="outline pg-header column is-full" data-text="Partner Narratives">
      Partner Narratives
    </h2>
    <div class="column is-12-mobile is-10-tablet is-7-desktop no-pad">
      <p class="lg" [innerHtml]="textContent[0].text.html">
      </p>
    </div>
    <div class="column columns is-full is-centered">
      <div class="column is-one-third">
        <app-button label="submit your own narrative" route="/submit"></app-button>
      </div>
      </div>
  </div>

  <div class="column columns is-mobile narrative" *ngFor="let nar of narratives;">
    <div class="column is-8-mobile is-6-tablet is-5-desktop">
      <p>{{nar.title}}<p>
          <div class="blurb">
            {{nar.blurb}}
          </div>
    </div>
    <div class="column right">
      <hr />

      <div class="man-bold">
        {{nar.name}}
      </div>
      <div class="date">
        {{nar.readingTime}} minute read
      </div>
      <a routerLink="/narratives/{{nar.slug}}">read more</a>
    </div>
  </div>


</section>
