@import "~src/style/_variables";

h4 {

  @include pull-quote();
  @include pxtoem(18, 36);
  font-family: 'Manrope-Regular';

  margin-top: 7%;
  margin-bottom: 7%;

  line-height: 1.6;

  .required {
    opacity: .5;
  }

}

p {
  ::ng-deep strong {
    font-family: 'Manrope-Bold';
  }
}

// All input fields
input[type=text],
textarea {

  display: block;
  border: solid 1px $very-light-pink;
  padding: 7% 3%;

  width: 97%;
  border-radius: 5px;

  @include not-phones {
    border-radius: 10px;
    border-width: 2px;
  }

}

textarea {
  width: 93%;
  border-color: $windows-blue;
}

.error {
  display: none;
}

.responses {
  columns: 1;

  @include not-phones {
    columns: 2;
  }

  ul {
    padding: 0;
    margin: 0;

    list-style: none;

    li {
      break-inside: avoid-column;
    }
  }

  .option {
    padding-left: 0;
    margin-bottom: 6%;

    &:not(:first-child) {

      margin-top: 6%;
    }

    .radio {

      display: flex;
      cursor: pointer;

      &:hover {
        color: $windows-blue;

        input~.ctrl {
          background-color: $windows-blue;

        }
      }

      input[type=radio] {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        margin: 0;

        &:checked {
          &~.ctrl {
            background-color: $windows-blue;

            &:after {
              @include scale(1);
            }
          }

          &~.txt {
            input {
              border-color: $windows-blue;
            }
          }
        }
      }
      
      input[type=checkbox] {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        margin: 0;

        &:checked {
          &~.ctrl {
            background-color: $windows-blue;

            &:after {
              @include scale(1);
            }
          }

          &~.txt {
            input {
              border-color: $windows-blue;
            }
          }
        }
      } 
      .box {
        display: flex;
        margin-right: 5%;
      }

      .ctrl {

        display: inline-flex;
        justify-content: center;
        align-items: center;

        top: 0;
        left: 0;

        height: 35px;
        width: 35px;
        min-width: 35px;

        border: solid 1px $very-light-pink;

        margin-right: 5%;

        &:after {

          content: "";

          display: block;
          background: white;
          width: 15px;
          height: 15px;

          @include scale(0);
          @include transition(transform, .1s, ease-out);

        }

        &.radio {
          border-radius: 50px;

          &:after {
            border-radius: 50px;
          }
        }
      }

      .txt {
        display: block;
        width: 90%;
      }

    }
  }
}
