<section *ngIf="hasContent">

  <div class="column columns is-multiline is-mobile is-centered no-margin">
    <h2 class="outline pg-header column is-full" data-text="Resources">
      Resources
    </h2>
    <div class="column is-12-mobile is-10-tablet is-half-desktop no-pad">
      <p class="lg">
        We'll put a happy little sky in here. We artists are a different breed of people. We're a happy bunch. A little
        happy sunlight shining through there. Poor old tree. A happy cloud.
      </p>
    </div>
  </div>

  <div class="column columns is-multiline is-mobile category" *ngFor="let category of categories;">

    <h4 class="column is-full-mobile">{{category}}
      <hr />
    </h4>
    <div class="masonry">
      <div class="resource" *ngFor="let resource of resources[category];">
        <p>{{resource.name}}<p>
            <div class="blurb">
              {{resource.description}}
            </div>
            <a href="resource.link" *ngIf="resource.link"><span>

              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" fill="none" viewBox="0 0 13 15">
                  <path stroke="#fff" stroke-miterlimit="10" d="M6.719 13.437V0M12.083 8.062L6.72 13.437 1.354 8.062"/>
                  <path stroke="#fff" d="M0 13.431h13"/>
              </svg>
              
            </span></a>
      </div>
    </div>

  </div>


</section>
