@import "~src/style/_variables";

#top {

  background-repeat: no-repeat;
  background-position: top right;

  background-image: cdn-image('img/quiz-bg', c_fill, w_355);

  @include not-phones {
    background-size: contain;
    background-image: cdn-image('img/quiz-bg', c_fill, w_1017);
  }

}

#intro {

  ::ng-deep h1 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
  }
  
}

#bottom {
    justify-content: space-around;
}