// CDN CONFIG
$cloudinary-account: 'engagement-lab-home';
$cdn-product: 'opening-pathways';

// FONT CONFIG
$base-font-size: 24;
$base-font-size-mobile: 14;

@font-face {
    font-family: 'GangsterGrotesk-Regular';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/GangsterGrotesk-Regular.otf');
}
@font-face {
    font-family: 'GangsterGrotesk-Bold';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/GangsterGrotesk-Bold.otf');
}
@font-face {
    font-family: 'Manrope-Regular';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/manrope-regular.otf');
}
@font-face {
    font-family: 'Manrope-Medium';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/manrope-medium.otf');
}
@font-face {
    font-family: 'Manrope-Semibold';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/manrope-semibold.otf');
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url('https://res.cloudinary.com/engagement-lab-home/raw/upload/fonts/manrope-bold.otf');
}

@mixin pxtoem($mobile, $desktop: $base-font-size) {
    font-size: ($desktop / $base-font-size) + em;

    @include mq($until: tabletPortrait) {
        font-size: ($mobile / $base-font-size-mobile) + em;
    }
}

/* Color palette */
$burnt-yellow: #e1a708;
$very-light-pink: #bbbbbb;
$windows-blue: #3984bc;

$mq-breakpoints: (mobile: 320px,
mobileLg: 375px,
mobileLandscape: 480px,
tablet: 1024px,
tabletPortrait: 768px,
desktop: 980px,
desktopAd: 810px,
wide: 1300px);

// Mixins 
@import '../../node_modules/@engagementlab/el-scss/bundle';
