// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

@import '_variables';

body {
    font-family: 'Manrope-Regular';
    font-size: $base-font-size + 0px;

    @include mobile-only {
        font-size: $base-font-size-mobile + 0px;
    }
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

// Fonts
p.lg {
    font-size: 1.3em;
}
.man-bold {
    font-family: 'Manrope-Bold';
}
.man-med {
    font-family: 'Manrope-Medium';
} 
.gang {
    font-family: 'GangsterGrotesk-Regular';
} 
.gang-bold {
    font-family: 'GangsterGrotesk-Bold';
} 

.center {
    display: flex;
    justify-content: center;
}

#menu-overlay {
    position: absolute;
    
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    background-color: white;
}