// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

// Slider
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import '_variables';

body {
  font-family: 'Manrope-Regular';
  font-size: $base-font-size + 0px;

  @include mobile-only {
    font-size: $base-font-size-mobile + 0px;
  }

  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $burnt-yellow;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $burnt-yellow;
  }
  
  &:visited {
    color: inherit;
  }
}

// Fonts
p.lg {
  text-align: center;
  font-size: 1.3em;
}

h2.pg-header {
  @include pxtoem(36, 100);
  font-family: 'GangsterGrotesk-Bold';
}

h5 {
  @include pxtoem(24, 48);

  line-height: 1.5;
  letter-spacing: normal;
  color: $very-light-pink;

  text-align: center;

  margin: 0;
  margin-top: 34%;

}

input, textarea {
  
  @include pxtoem(24, 36);
  font-family: 'Manrope-Regular';

  width: 90%;
  min-height: 60px;
  border-radius: 10px;
  border: solid 1px $very-light-pink;

  padding: 18px 20px;

  @include not-phones {
    border-width: 2px;
  }

  &.required {
    background-image: cdn-image('img/req-field');
    background-repeat: no-repeat;

    background-position-x: calc(100% - 10px);
    background-position-y: 10px;
  }

}

button {  
  @include button-style();
}

.man-bold {
  font-family: 'Manrope-Bold';
}

.man-med {
  font-family: 'Manrope-Medium';
}

.gang {
  font-family: 'GangsterGrotesk-Regular';
}

.gang-bold {
  font-family: 'GangsterGrotesk-Bold';
}

// Outlined font style
.outline {

  paint-order: stroke fill;
  -webkit-text-fill-color: white;

  &:before {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: 4px black;
    z-index: -2;
    font-size: 1em;

    @include phones {
      -webkit-text-stroke-width: 2px;
    }
  }

}

.center-content {
  display: flex;
  justify-content: center;
}

.decor {
  display: block;
  margin-top: 20px;

  @include phones {
    margin-top: 5%;
    max-width: 72px;
  }
}

#menu-overlay {
  position: absolute;

  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background-color: white;
}
