// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

// Slider
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import '_variables';

body {
  font-family: 'Manrope-Regular';
  font-size: $base-font-size + 0px;

  @include mobile-only {
    font-size: $base-font-size-mobile + 0px;
  }

  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $burnt-yellow;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $burnt-yellow;
  }

  &:visited {
    color: inherit;
  }
}

// Fonts
p.lg {
  text-align: center;
  font-size: 1.5em;
}

h2.pg-header {
  @include pxtoem(36, 100);
  font-family: 'GangsterGrotesk-Bold';
}

h5 {
  @include pxtoem(24, 48);
  font-family: 'GangsterGrotesk-Regular';

  line-height: 1.5;
  letter-spacing: normal;
  color: $very-light-pink;

  text-align: center;

  margin: 0;
  margin-top: 34%;

}

input,
textarea {

  @include pxtoem(18, 36);
  font-family: 'Manrope-Regular';

  width: 90%;
  min-height: 60px;
  border-radius: 10px;
  border: solid 1px $very-light-pink;

  padding: 18px 20px;

  @include not-phones {
    border-width: 2px;
  }

  &.required {
    background-image: cdn-image('img/req-field');
    background-repeat: no-repeat;

    background-position-x: calc(100% - 10px);
    background-position-y: 10px;
  }

}

button {
  @include button-style();
}

.man-bold {
  font-family: 'Manrope-Bold';
}

.man-med {
  font-family: 'Manrope-Medium';
}

.gang {
  font-family: 'GangsterGrotesk-Regular';
}

.gang-bold {
  font-family: 'GangsterGrotesk-Bold';
}

// Outlined font style
.outline {

  display: block;
  position: relative;
  width: 100%;

  paint-order: stroke fill;
  -webkit-text-fill-color: white;

  &:before {
    
    position: absolute;
    display: block;
    
    content: attr(data-text);

    -webkit-text-stroke: 4px black;
    z-index: -2;
    font-size: 1em;

    @include phones {
      -webkit-text-stroke-width: 2px;
    }
  
  }

}

.center-content {
  display: flex;
  justify-content: center;
}

.decor {
  display: block;
  margin-top: 40px;

  @include phones {
    margin-top: 5%;
    max-width: 72px;
  }
}

#menu-overlay {
  position: absolute;

  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background-color: white;
}

// Quill overrrides
.ql-container {

  border: solid 2px $very-light-pink !important;
  
  border-top: none !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  font-family: 'Manrope-Regular';
  font-size: $base-font-size + 0px;

  @include mobile-only {
    font-size: $base-font-size-mobile + 0px;
  }
 
}

.ql-editor {

  @include pxtoem(18, 36);
  min-height: 450px;

  a {
    color: $burnt-yellow;
  }
  strong {
    font-family: 'Manrope-Bold';
  }

}
.ql-toolbar {

  display: flex;
  justify-content: flex-end;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  border: solid 2px $very-light-pink !important;
  border-bottom: none !important;

}

.ql-formats {

  margin-right: 0 !important;
  min-width: 262px;

  button {

    margin-right: 2%;

    min-height: 0px;

    width: 60px !important;
    height: 60px !important;

    border-radius: 50px !important;
    border: solid 1px $very-light-pink !important;

    &::after {
      box-shadow: none;
    }

    &:hover {
      .ql-stroke {
        stroke: $burnt-yellow !important;
      }

      .ql-fill {
        fill: $burnt-yellow !important;
      }
    }

    .ql-stroke {
      stroke: black;
      stroke-linecap: unset;
      stroke-width: 1px;
    }

    .ql-fill {
      fill: black;
    }

    &.ql-bold {
      .ql-stroke {
        stroke-width: 2px !important;
      }
    }

  }

}

// Owl carousel overrides
.owl-nav {
  display: none !important;
}