<section *ngIf="hasContent">

  <home-header></home-header>

  <div class="columns column is-mobile is-multiline no-margin is-centered">

    <div class="column is-full no-pad">
      <h2 class="outline gang-bold" [attr.data-text]="intro.introHeader">
        {{intro.introHeader}}
      </h2>
    </div>

    <div class="column is-full-mobile is-8-tablet is-half-desktop no-pad">
      <p class="lg">
        {{intro.introText}}
      </p>
    </div>

  </div>

  <div id="narratives" class="columns column is-mobile is-multiline no-margin" *ngIf="narratives !== undefined">

    <h5 class="column is-full gang">Partner Narratives</h5>

    <div class="column is-full center-content">

      <svg class="decor" width="135" height="15" fill="none" viewBox="0 0 135 15">
        <path fill="url(#a)"
          d="M135 0c0 8.292-6.708 15-15 15-15 0-11.25-11.25-26.25-11.25S82.5 15 67.5 15 56.25 3.75 41.25 3.75 30 15 15 15C6.708 15 0 8.292 0 0h135z" />
        <defs>
          <linearGradient id="a" x2="135" y1="7.5" y2="7.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#CDA624" />
            <stop offset="1" stop-color="#F4CCC7" />
          </linearGradient>
        </defs>
      </svg>

    </div>

    <div class="column is-full-mobile narrative" *ngFor="let nar of narratives;">

      <p>{{nar.title}}<p>
          <hr />
          <div class="blurb">
            {{nar.blurb}}
          </div>
          <a routerLink="/narratives/{{nar.slug}}">read more</a>
    </div>

    <div class="column is-full center-content">

      <app-button label="see all narratives" route="/narratives"></app-button>

    </div>
  </div>

  <div id="partner" class="columns column is-mobile is-multiline no-margin">
    <div class="column is-full center-content">
      <h5 class="gang">Take the partner readiness quiz</h5>
    </div>

    <div class="column is-full center-content">

      <svg class="decor" width="135" height="15" fill="none" viewBox="0 0 135 15">
        <path fill="url(#b)"
          d="M135 0c0 8.292-6.708 15-15 15-15 0-11.25-11.25-26.25-11.25S82.5 15 67.5 15 56.25 3.75 41.25 3.75 30 15 15 15C6.708 15 0 8.292 0 0h135z" />
        <defs>
          <linearGradient id="b" x2="135" y1="7.5" y2="7.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#ACB8AF" />
            <stop offset="1" stop-color="#8390AB" />
          </linearGradient>
        </defs>
      </svg>

    </div>

    <div class="column is-full center-content">
      <div id="img">
        <cdn-image cloudinaryId="img/explorepath" width="876" [responsive]="true" autoFormat="true"
          alt="Partner Pathways decor image"></cdn-image>
      </div>
    </div>

    <div class="column is-full-mobile is-half-tablet no-pad">
      <h3>
        {{intro.quizHeader}}
      </h3>
    </div>

    <div class="column is-full-mobile is-half-tablet no-pad blurb">
      {{intro.quizBlurb}}
    </div>

    <div class="column is-full center-content">

      <app-button label="take the readiness quiz" route="/quiz"></app-button>

    </div>

  </div>

</section>
