@import "~src/style/_variables";

h2 {
  @include pxtoem(46, 100);
}

h3 {
  @include pxtoem(24, 48);
}

.decor {
  margin-top: 64px;
  
  @include phones {
    margin-top: 5%;
    max-width: 72px;
  }
}

.blurb {
  @include pxtoem(12, 24);
}

#narratives {

  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 80%;

  background-image: cdn-image('img/home-partner-bg', c_fill, w_262);

  @include not-phones {
    background-position-x: right;
    background-image: cdn-image('img/home-partner-bg', c_fill, w_794);
  }

  .narrative {
    @include not-phones {
      margin-top: 20%;
    }
    
    p {
      @include pxtoem(24, 36);
    }

    hr {
      border: 1px solid #ddd;

      margin-top: 6%;
      margin-bottom: 12%;
    }

    a {
      @include pxtoem(12, 24);

      display: block;
      text-align: end;
      color: $burnt-yellow;
      line-height: 1.5;
      text-transform: uppercase;

      margin-top: 6%;
    }
  }

}

app-button {
  margin-top: 12%;
}

#partner {

  background-repeat: no-repeat;
  background-position: top left;

  background-image: cdn-image('img/home-pathway-bg', c_fill, w_257);

  @include not-phones {
    background-image: cdn-image('img/home-pathway-bg', c_fill, w_795);
  }

  #img {
    max-width: 876px;
  }
}
