<section *ngIf="hasContent">


  <div id="top" class="columns column is-mobile is-multiline no-margin">

    <div class="column is-full-mobile is-half-tablet no-pad">
      <cdn-image cloudinaryId="img/home-mobile" width="355" [responsive]="true" alt="Opening Pathways decor image"
        *ngIf="isPhone"></cdn-image>
      <cdn-image cloudinaryId="img/home" width="500" [responsive]="true" alt="Opening Pathways decor image"
        *ngIf="!isPhone"></cdn-image>
    </div>

    <div class="column is-full-mobile is-5-tablet no-pad">
      <h1 class="man-bold no-margin" data-text="Opening Pathways">Opening Pathways</h1>
      <!-- 
      <svg class="man-bold" width="100%" viewBox="0 0 100 40" *ngIf="isPhone"><text dx="0" dy="0"
          fill="transparent" stroke="black" stroke-width=".5px">
          <tspan x="0" dy=".8em">opening</tspan>
          <tspan dy="1.2em" x="0">pathways</tspan>
        </text>
      </svg>
      <svg class="man-bold" width="100%" viewBox="0 0 130 70" *ngIf="!isPhone"><text dx="0" dy="0"
          fill="transparent" stroke="black" stroke-width=".5px">
          <tspan x="0" dy=".8em">opening</tspan>
          <tspan dy="35px" x="0">pathways</tspan>
        </text>
      </svg> -->

      <h3>{{intro.tagline}}</h3>
    </div>

  </div>

  <div class="columns column is-mobile is-multiline no-margin">

    <div class="column is-full no-pad">
      <h2 class="gang-bold" [attr.data-text]="intro.introHeader">
        {{intro.introHeader}}
      </h2>
    </div>

    <div class="column is-full-mobile is-half-tablet no-pad">
      <p class="lg">
        {{intro.introText}}
      </p>
    </div>

  </div>

  <h5 class="gang">Partner Narratives</h5>
  <div class="columns column is-mobile is-multiline no-margin" *ngIf="narratives !== undefined">

    <div class="column is-full-mobile is-half-tablet narrative no-pad" *ngFor="let nar of narratives;">

      <p>{{nar.title}}<p>
          <hr />
          <div class="blurb">
            {{nar.blurb}}
          </div>
          <a routerLink="/narratives/{{nar.slug}}">read more</a>
    </div>

    <div class="column is-full center">

      <app-button label="see all narratives" route="/narratives"></app-button>

    </div>
  </div>

  <h5 class="gang">Explore your partner pathway</h5>
  <div id="partner" class="columns column is-mobile is-multiline no-margin">

    <div class="column is-full center">
      <div id="img">
        <cdn-image cloudinaryId="img/explorepath" width="876" [responsive]="true" autoFormat="true"
          alt="Partner Pathways decor image"></cdn-image>
      </div>
    </div>

    <div class="column is-full-mobile is-half-tablet no-pad">
            <h3 class="gang-bold">
              {{intro.quizHeader}}
            </h3>
          </div>
      
          <div class="column is-full-mobile is-half-tablet no-pad blurb">
              {{intro.quizBlurb}}
          </div>

    <div class="column is-full center">

      <app-button label="take the readiness quiz" route="/quiz"></app-button>

    </div>

  </div>

</section>
