@import "~src/style/_variables";

#top {

  background-repeat: no-repeat;
  background-position: top center;

  background-image: cdn-image('img/landing-mobile', c_fill, w_355);

  @include not-phones {
    margin-top: 7%;
    background-image: cdn-image('img/landing', c_fill, w_1440);
  }

  .column:nth-child(2) {
    @include phones {
      @include translate(0, -15%);
    }

    @include not-phones {
      h1 {
        @include translate(-36%, 0);
      }
    }

    h1 {
      @include pxtoem(56, 124);
      text-transform: lowercase;
      line-height: 124px;

      @include phones {
        line-height: 67px;

      }

      -webkit-text-fill-color: rgba($color: #000000, $alpha: 0);

      &:before {
        @include phones {
          z-index: -2;
          line-height: 67px;
        }

        content: attr(data-text);
        position: absolute;
        -webkit-text-stroke: 2px black;
        font-size: 1em;
      }
    }

    h3 {
      text-align: end;
    }
  }
}

h2 {
  @include pxtoem(46, 100);

  paint-order: stroke fill;
  -webkit-text-fill-color: white;
  // -webkit-text-stroke: 1px black; 

  &:before {
    content: attr(data-text);
    position: absolute;
    -webkit-text-stroke: 2px black;
    z-index: -2;
    font-size: 1em;
  }
}

h3 {   
    @include pxtoem(24, 48);
}

h5 {
  @include pxtoem(24, 36);

  line-height: 1.5;
  letter-spacing: normal;
  color: $very-light-pink;

  text-align: center;

  margin: 0;
  margin-top: 34%;

}

.blurb {
  @include pxtoem(12, 24);
}

.lg {
  text-align: center;
}

.narrative {
  p {
    @include pxtoem(24, 36);
  }

  hr {
      border: 1px solid #ddd;
      
      margin-top: 6%;
      margin-bottom: 12%;
  }

  a {
    @include pxtoem(12, 24);

    display: block;
    text-align: end;
    color: $burnt-yellow;
    line-height: 1.5;
    text-transform: uppercase;
    
    margin-top: 6%;
  }
}

app-button {
    margin-top: 12%;
}

#partner {
    #img {
        max-width: 876px;
    }
}
