<section *ngIf="hasContent">

  <section class="container">

    <home-header [tagline]="intro.taglinePatient"></home-header>

    <div class="columns column is-mobile is-multiline no-margin is-centered">

      <div class="column is-full no-pad">
        <h2 class="outline gang-bold" [attr.data-text]="intro.introHeaderPatient">
          {{intro.introHeaderPatient}}
        </h2>
      </div>

      <div class=" column is-full-mobile is-8-tablet is-7-desktop no-pad">
        <p class="lg">
          {{intro.introTextPatient}}
        </p>
      </div>

    </div>

  </section>

  <div id="pathways" class="columns column is-multiline is-mobile no-margin no-pad">

    <h5 class="column is-full gang">Patient Pathways</h5>

    <div class="column is-full center-content">

      <svg class="decor" width="135" height="15" fill="none" viewBox="0 0 135 15">
        <path fill="url(#a)"
          d="M135 0c0 8.292-6.708 15-15 15-15 0-11.25-11.25-26.25-11.25S82.5 15 67.5 15 56.25 3.75 41.25 3.75 30 15 15 15C6.708 15 0 8.292 0 0h135z" />
        <defs>
          <linearGradient id="a" x2="135" y1="7.5" y2="7.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#CDA624" />
            <stop offset="1" stop-color="#F4CCC7" />
          </linearGradient>
        </defs>
      </svg>

    </div>

    <div class="pathway column is-full" *ngFor="let pathway of pathways; let i = index;">
      <section class="container" *ngIf="pathway.stories !== undefined && pathway.stories.length > 0">

        <header>
          <nav>
            <a class="details" routerLink="pathway/{{pathway.slug}}">pathway details</a>
            <a class="arrow prev disable" (click)="owlElement.prev()">
              <svg width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#e1a708" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
              </svg>
            </a>
            <a class="arrow next" (click)="owlElement.next()">
              <svg width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#e1a708" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
              </svg>
            </a>
          </nav>
          <h5>{{pathway.name}}</h5>
        </header>

        <owl-carousel-o class="slides" [options]="customOptions" (initialized)="sliderInit(i)"
          (translated)="slideChange(i)" #owlElement>
          <ng-template carouselSlide [id]="'slide-' + story.slug" [width]="slideWidth"
            *ngFor="let story of pathway.stories; let n = index;">

            <div class="slide-item" [attr.data-ref]="'slide-' + story.slug">
              <a routerLink="/pathway/{{pathway.slug}}/story/{{story.slug}}">
                <div class="name">{{story.name.first}} {{story.name.last}}</div>

                <grid-icon [index]="n" [color]="colorIndices[i][n]"></grid-icon>

                <div>
                  <span>view</span>
                </div>

              </a>
            </div>
          </ng-template>
        </owl-carousel-o>

      </section>
    </div>

    <div id="btn" class="column is-full center-content">
      <app-button label="see all pathways" route="/pathways"></app-button>
    </div>

  </div>

  <section id="quote" class="container">

    <div class="center-content">

      <svg xmlns="http://www.w3.org/2000/svg" width="119" height="94" fill="none" viewBox="0 0 119 94">
        <path fill="#F5D7D5" fill-rule="evenodd"
          d="M13.179 84.094c8.123 6.727 19.235 9.782 31.262 9.578l.988-.017V70.314l-1.045.042c-4.945.197-9.264-.512-12.345-2.995-3.042-2.452-5.103-6.824-5.103-14.494V39.8h17.689V0H0v52.867c0 14.128 5.029 24.479 13.179 31.227zm1.282-1.548C6.83 76.228 2.01 66.478 2.01 52.866V2.01h40.604v35.78h-17.69v15.077c0 8.008 2.16 13.084 5.853 16.06 3.403 2.742 7.912 3.535 12.64 3.466V91.67c-11.3.019-21.517-2.965-28.957-9.125zm72.24 1.55c8.173 6.724 19.283 9.78 31.311 9.576l.988-.017V70.314l-1.045.042c-4.945.197-9.264-.512-12.345-2.995-3.042-2.452-5.103-6.824-5.103-14.495V39.802h17.689V0H73.169v52.881c.205 14.126 5.335 24.47 13.533 31.215zM75.18 52.86V2.01h41.007v35.78h-17.69v15.077c0 8.008 2.161 13.084 5.853 16.06 3.403 2.742 7.912 3.535 12.641 3.466V91.67c-11.3.019-21.521-2.964-29.011-9.127-7.681-6.32-12.601-16.074-12.8-29.685z"
          clip-rule="evenodd" />
      </svg>

    </div>

    <h3>
      Only in poems and fairy tales are there two distinct paths and the expectation that you must choose. In life they
      are countless and mostly unmarked, unrecognizable as paths until you take them. You can travel one for a time,
      then cut over to another.
    </h3>

    <h2 class="outline center-content" data-text="Start anywhere. Keep moving.">
      Start anywhere. Keep moving.
    </h2>

    <h3 class="gang">Maggie Smith</h3>

  </section>

  <section class="container">

    <div id="submit" class="container columns column is-mobile is-multiline no-margin">

      <h2 class="outline gang-bold" [attr.data-text]="intro.submitHeader">
        {{intro.submitHeader}}
      </h2>

      <div class="columns is-vcentered">

        <div class="column is-full-mobile is-7-tablet">
          <p class="lg">
            {{intro.submitBlurb}}
          </p>
        </div>

        <div class="column is-full-mobile is-5-tablet center-content">
          <app-button label="submit your story" route="/submit"></app-button>
        </div>

      </div>

    </div>

  </section>

</section>
