@import "../home/home.component.scss";

#pathways {

  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 80%;

  background-image: cdn-image('img/home-patient-pathway-bg', c_fill, w_262);

  @include not-phones {
    background-image: cdn-image('img/home-patient-pathway-bg', c_fill, w_567);
  }

  h5 {
    margin-top: 22%;
  }

  .decor {
    margin-top: 64px;
    margin-bottom: 64px;

    @include phones {
      margin-top: 2%;
      margin-bottom: 5%;
      max-width: 72px;
    }
  }

  .pathway {

    a {
      cursor: pointer;
      color: $burnt-yellow;
    }

    header {
      margin-top: 4%;

      nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;

        a {
          margin-right: 1%;
          @include phones {
            margin-right: 3%;
          }
        }

        .arrow {

          @include arrow-btn();
       
        }
      }

      h5 {
      font-family: 'Manrope-Regular';

        text-align: left;
        margin-top: 0;
        margin-bottom: 5%;
        color: black;
        font-weight: 200;
      }
    }

    section {
      margin-bottom: 5%;
    }

    .slide-item {
      text-align: center;

      grid-icon {
        display: block;
        margin-top: 7%;
        margin-bottom: 7%;
      }

      a {
        color: black;

        &:hover {
          text-decoration: none;

          span {
            text-decoration: underline;
          }
        }

        span {
          color: $burnt-yellow;
          text-transform: uppercase;
        }
      }

      .name {
        font-size: 1.3em;
      }
    }

    &:nth-child(odd) {
      background-color: rgba(244, 204, 199, 0.2);
    }
  }

}

#quote {

  margin-top: 20%;

  svg {
    margin-bottom: 7%;

    @include phones {
      max-height: 64px;
    }
  }

  h3 {
    color: $blush;
    line-height: 1.7;
    text-align: center;

    margin-top: 0;
    margin: 3%;

    &.gang {
      color: $pale;
      margin-top: 3%;
    }
  }

  h2 {
    @include pxtoem(32, 64);

    &:before {
      -webkit-text-stroke-color: $blush;
    }
  }

}

#submit {

  margin-top: 17%;

  app-button {
    margin-top: 0;
    
    @include not-phones {
      margin: 0;
    }
  }

  .lg {
    text-align: left;
  }
}