<section *ngIf="hasContent">

  <section class="container">

    <home-header [tagline]="intro.taglinePatient"></home-header>

    <div class="columns column is-mobile is-multiline no-margin is-centered">

      <div class="column is-full no-pad">
        <h2 class="outline gang-bold" [attr.data-text]="intro.introHeaderPatient">
          {{intro.introHeaderPatient}}
        </h2>
      </div>

      <div class=" column is-full-mobile is-8-tablet is-half-desktop no-pad">
        <p class="lg">
          {{intro.introTextPatient}}
        </p>
      </div>

    </div>

  </section>

  <div id="pathways" class="columns column is-multiline is-mobile no-margin">

    <h5 class="column is-full gang">Patient Pathways</h5>

    <div class="column is-full center-content">

      <svg class="decor" width="135" height="15" fill="none" viewBox="0 0 135 15">
        <path fill="url(#a)"
          d="M135 0c0 8.292-6.708 15-15 15-15 0-11.25-11.25-26.25-11.25S82.5 15 67.5 15 56.25 3.75 41.25 3.75 30 15 15 15C6.708 15 0 8.292 0 0h135z" />
        <defs>
          <linearGradient id="a" x2="135" y1="7.5" y2="7.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#CDA624" />
            <stop offset="1" stop-color="#F4CCC7" />
          </linearGradient>
        </defs>
      </svg>

    </div>

    <div class="pathway column is-full" *ngFor="let pathway of pathways; let i = index;">
      <section class="container" *ngIf="pathway.stories !== undefined && pathway.stories.length > 0">

        <header>
          <nav>
            <a class="details" routerLink="pathway/{{pathway.slug}}">pathway details</a>
            <a class="arrow prev" (click)="owlElement.prev()">
              <svg style="transform:rotate(-180deg)" width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#e1a708" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
              </svg>
            </a>
            <a class="arrow next" (click)="owlElement.next()">
              <svg width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#e1a708" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
              </svg>
            </a>
          </nav>
          <h5>{{pathway.name}}</h5>
        </header>

        <owl-carousel-o class="slides" [options]="customOptions" (initialized)="sliderInit(i)" (change)="slideChange($event, i)" #owlElement>
          <ng-template carouselSlide [width]="slideWidth" *ngFor="let story of pathway.stories; let n = index;">

            <div class="slide-item">
              <a routerLink="/pathway/{{pathway.slug}}/story/{{story.slug}}">
                <div class="name">{{story.name.first}} {{story.name.last}}</div>

                <grid-icon [index]="n" [color]="colorIndices[n]"></grid-icon>

                <div>
                  <span>view</span>
                </div>

              </a>
            </div>
          </ng-template>
        </owl-carousel-o>

      </section>
    </div>

    <div id="btn" class="column is-full">
      <app-button label="see all pathways" route="/pathways"></app-button>
    </div>

  </div>

  <section class="container">

    <div id="submit" class="container columns column is-mobile is-multiline no-margin">

      <h2 class="outline gang-bold" [attr.data-text]="intro.submitHeader">
        {{intro.submitHeader}}
      </h2>

      <div class="column is-full-mobile is-half-tablet no-pad">
        <p class="lg">
          {{intro.submitBlurb}}
        </p>
      </div>

      <div class="column is-full-mobile is-5-tablet center-content">

        <app-button label="submit your story" route="/submit"></app-button>

      </div>

    </div>

  </section>

</section>
