<app-nav></app-nav>

<div id="menu-overlay"></div>

<section [class.container]="!pageBleed">
  <router-outlet></router-outlet>
</section>

<app-footer></app-footer>

<!-- QA Build Banner -->
<div *ngIf="isQABuild === true" id="qa-build">

  <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/v1544209738/homepage-2.0/qa-build.svg"
    style="max-width:50px" alt="QA Build icon" />
  <span id="text">QA BUILD</span>
  <div>Work in progress. Not intended for external use.</div>

</div>

<!-- Gradient definitions for grid icons -->
<svg>
  <defs>
    <linearGradient id="fill0" x2="60.039" y1="30.019" y2="30.019" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CDA624" />
      <stop offset="1" stop-color="#F4CCC7" />
    </linearGradient>
    <linearGradient id="fill1" x1="-.045" x2="59.994" y1="29.975" y2="29.975" gradientUnits="userSpaceOnUse">
      <stop stop-color="#DDCDC8" />
      <stop offset="1" stop-color="#CD9B9A" />
    </linearGradient>
    <linearGradient id="fill2" x2="60.039" y1="30.019" y2="30.019" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F5D7D5" />
      <stop offset="1" stop-color="#F2A191" />
    </linearGradient>
    <linearGradient id="fill3" x1="-.045" x2="59.901" y1="30.009" y2="30.009" gradientUnits="userSpaceOnUse">
      <stop stop-color="#ACB8AF" />
      <stop offset="1" stop-color="#8390AB" />
    </linearGradient>
    <linearGradient id="fill4" x2="60.039" y1="30.019" y2="30.019" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F3B7AC" />
      <stop offset="1" stop-color="#6197A5" />
    </linearGradient>
    <linearGradient id="fill5" x1="-.017" x2="60.021" y1="30.019" y2="30.019" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F5D7D5" />
      <stop offset="1" stop-color="#3984BC" />
    </linearGradient>
    <linearGradient id="fill6" x2="59.946" y1="30" y2="30" gradientUnits="userSpaceOnUse">
      <stop stop-color="#C5C2BB" />
      <stop offset="1" stop-color="#A895A2" />
    </linearGradient>
    <linearGradient id="fill7" x1="-.006" x2="60.032" y1="29.981" y2="29.981" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F4CCC7" />
      <stop offset="1" stop-color="#CDA624" />
    </linearGradient>
    <linearGradient id="fill8" x2="60.039" y1="30.019" y2="30.019" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F5D7D5" />
      <stop offset="1" stop-color="#F2A191" />
    </linearGradient>
    <linearGradient id="fill9" x2="60.039" y1="30.019" y2="30.019" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CDA624" />
      <stop offset="1" stop-color="#F4CCC7" />
    </linearGradient>
    <linearGradient id="fill10" x1="60.027" x2="-.012" y1="30.008" y2="30.008" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F4C1BA" />
      <stop offset="1" stop-color="#5490AC" />
    </linearGradient>
    <linearGradient id="fill11" x1="-.038" x2="60.001" y1="30.019" y2="30.019" gradientUnits="userSpaceOnUse">
      <stop stop-color="#EFA276" />
      <stop offset="1" stop-color="#6F9D9D" />
    </linearGradient>
  </defs>
</svg>