@import "~src/style/_variables";

nav {
  position: relative;
  z-index: 10;

  left: 0;
  top: 0;

  width: 100%;

  background-color: white;

  &.open {
    position: fixed;
    // height: 100%;
  }
}

#logo {
  display: block;
  max-width: 185px;

  @include phones {
    max-width: 100px;
  }
}

#menu-btn {
  text-align: center;

  @include phones {
    text-align: right;
  }

  a {
    color: black;
    text-decoration: none;
    cursor: pointer;

    span {
      margin-right: 19px;

      svg {
        line {
          @include scale(0);
        }
      }
    }
  }

  &.open {
    a span svg line {
      @include scale(1);

    }
  }
}

#menu {
  display: none;
  opacity: 0;
  z-index: 6;

  background-color: white;

  &.open {
    height: 100%;
  }

  #sites {
    display: flex;
    justify-content: space-around;

    @include not-phones {
      flex-direction: column;
    }

    span {
      @include pxtoem(18, 24);

      @include not-phones {
        display: block;
      }

      a {
        color: $burnt-yellow;
      }

      &.active a {
        color: black;
        text-decoration: line-through;
        text-decoration-color: $burnt-yellow;

      }
    }
  }

  h4 {
    @include pxtoem(12, 24);

    @include phones {
      margin-left: 10%;
    }

    a {
      color: $burnt-yellow;
    }
  }

  ol {

    list-style: none;
    counter-reset: nav-ct;

    li {
      counter-increment: nav-ct;
      margin-bottom: 11%;

      @include pxtoem(24, 36);

      &::before {
        font-size: .7em;
        content: counter(nav-ct);
        color: $burnt-yellow;
      }

      span {
        margin-right: 5%;
        color: $very-light-pink;
      }
    }
  }
}
