<section id="grid-overlay" [class.overlay]="overlay">

  <div id="close" class="column" *ngIf="overlay"><a (click)="overlayHide()">close</a></div>

  <div id="grid" class="column columns is-multiline is-mobile no-margin no-pad">

    <div id="svg-bg"></div>

    <div id="{{ind}}" class="name column is-half-mobile is-4-tablet no-pad"
      *ngFor="let name of nameIndices; let odd = odd; let ind = index;">

      <div class="href">
        <a routerLink="/pathway/{{pathway}}/story/{{names[name].slug}}">
          <div class="bg" [class.odd]="odd" [class.left]="ind%3===0" [class.right]="ind%3===2">
            <grid-icon [index]="name" [color]="name"></grid-icon>
          </div>

          <span>
            {{names[name].name.first}} {{names[name].name.last}}
          </span>
        </a>
      </div>
    </div>

  </div>

</section>
