<section>

  <div id="grid" class="column columns is-multiline is-mobile no-margin no-pad">

    <div id="svg-bg"></div>

    <div id="{{ind}}" class="name column is-half-mobile is-4-tablet no-pad"
      *ngFor="let name of nameIndices; let odd = odd; let ind = index;">

      <div class="href">
        <div class="bg" [class.odd]="odd" [class.left]="ind%3===0" [class.right]="ind%3===2">
          <grid-icon [index]="name" [color]="name"></grid-icon>
        </div>

        <span>
          {{names[name]}}
        </span>
      </div>
    </div>

  </div>

</section>
