@import "~src/style/_variables";

h2 {
  @include pxtoem(28, 72);

}

h5 {
  color: #c4c4c4;

  font-weight: 200;
}

#top {

  background-repeat: no-repeat;
  background-image: cdn-image('img/quiz-results-bg', c_fill, w_355);

  @include not-phones {
    min-height: 762px;
    background-image: cdn-image('img/quiz-results-bg', c_fill, w_820);
    background-position-x: 65%;
    background-position-y: 50%;
  }


  h2,
  h5 {
    margin: 0;
  }

  .lg {
    @include pxtoem(24, 36);
  }

}

#results {

  margin-top: 10%;

  h5 {
      margin-top: 3%;
      margin-bottom: 12%;
  }

  .page {
    @include pxtoem(24, 36);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .prompt {
    font-family: 'GangsterGrotesk-Bold';
  color: $very-light-pink;
  text-transform: uppercase;
  }

}

#url {
  cursor: pointer;
}