@import "~src/style/_variables";

#top {

  background-repeat: no-repeat;
  background-position: top center;

  background-image: cdn-image('img/landing-mobile', c_fill, w_355);

  @include not-phones {
    margin-top: 7%;
    background-size: contain;
    background-image: cdn-image('img/landing', c_fill, w_1440);
  }

  .column:nth-child(2) {
    
    @include phones {
      @include translate(0, -15%);
    }

    @include not-phones {
      h1 {
        @include translate(-61%, 0);
      }
    }

    @include desktop {
      h1 {
        @include translate(-36%, 0);
      }
    }

    h1 {
      @include pxtoem(56, 124);
      text-transform: lowercase;
      line-height: 124px;

      @include phones {
        line-height: 67px;

      }

      -webkit-text-fill-color: rgba($color: #000000, $alpha: 0);

      &:before {
        @include phones {
          z-index: -2;
          line-height: 67px;
        }

        content: attr(data-text);
        position: absolute;
        -webkit-text-stroke: 2px black;
        font-size: 1em;
      }
    }

    h3 {
      text-align: end;
      @include pxtoem(24, 48);      
    }
  }
}