<!-- QUIZ -->
<section *ngIf="hasContent">

  <nav>
    <ul class="no-pad">
      <div [class.current]="quizPage === i" *ngFor="let page of quizPageKeys; let i = index">
        <li class="page-dot"></li>
      </div>
    </ul>
  </nav>

  <div id="pages" class="columns column is-mobile is-multiline no-margin" *ngIf="!quizDone">
    <h2 class="outline pg-header column is-full" data-text="Readiness Quiz">
      Readiness Quiz
    </h2>

    <form class="columns column is-full is-mobile is-multiline no-margin no-pad" [formGroup]="quizForm">

      <div class="page" [class.active]="i1 === 0" *ngFor="let page of quizPageKeys; let i1 = index;">
        <h5 class="gang">{{getPage(page)[0].pageName}}</h5>
        <div class="prompt" *ngFor="let prompt of getPage(page); let i2 = index; let last = last;">
          <quiz-field [data]="prompt" [parentForm]="quizForm" [formCtrlName]="i1+1 + '_' + i2"
            [formCtrlNameText]="i1+1 + '_' + i2 + '_'"></quiz-field>
          <hr *ngIf="!last" />
        </div>

        <!-- <div class="error"></div> -->
        <strong *ngIf="formError"><br />Please select/fill out required (*) responses.</strong>

        <app-button label="next" clickData="true" (clickEvent)="nextPage()" [arrow]="true" *ngIf="!lastPage">
        </app-button>
        <app-button label="submit quiz" clickData="true" (clickEvent)="submitQuiz()"></app-button>
        <!-- <app-button label="submit quiz" route="/quiz/take/results"></app-button> -->

      </div>

    </form>
  </div>

  <div id="send" *ngIf="quizDone">

    <!-- <app-button label="submit quiz" clickData="true" (clickEvent)="printerView()"></app-button> -->

  </div>

</section>