<!-- QUIZ -->
<section *ngIf="hasContent">

  <nav>
    <ul class="no-pad">
      <div [class.current]="quizPage === i" *ngFor="let page of quizPageKeys; let i = index">
        <li class="page-dot"></li>
      </div>
    </ul>
  </nav>

  <div id="pages" class="columns column is-mobile is-multiline no-margin" *ngIf="!quizDone">
    <h2 class="outline pg-header column is-full" data-text="Readiness Quiz">
      Readiness Quiz
    </h2>

    <form class="columns column is-full is-mobile is-multiline no-margin no-pad" [formGroup]="quizForm">

      <div class="page" [class.active]="i1 === 0" *ngFor="let page of quizPageKeys; let i1 = index;">
        <h5 class="gang">{{getPage(page)[0].pageName}}</h5>
        <div class="prompt" *ngFor="let prompt of getPage(page); let i2 = index; let last = last;">
          <quiz-field [data]="prompt" [parentForm]="quizForm" [formCtrlName]="i1+1 + '_' + i2"
            [formCtrlNameText]="i1+1 + '_' + i2 + '_'"></quiz-field>
          <hr *ngIf="!last" />
        </div>

        <strong *ngIf="formError"><br />Please select/fill out required (*) responses.</strong>

        <div class="center-content">

          <label class="submit-btn" *ngIf="!lastPage">
            <input type="submit" title="next" name="next" value="next" (click)="nextPage()" aria-label="Go to next page" />
            <svg width="42" height="42" fill="none" viewBox="0 0 42 42">
                <path stroke="#fff" stroke-width="2" d="M20.283.717L40.566 21 20.283 41.283M0 20.751h40.541" />
            </svg>
          </label>
          
          <label class="submit-btn" *ngIf="lastPage">
            <input type="submit" title="submit quiz" name="submit" value="submit quiz" (click)="submitQuiz()" aria-label="Submit the quiz" />
          </label>
        
        </div>

        <div class="center-content" *ngIf="submitError">
          <p>Sorry, there was an error while submitting your results.<br />Please try again.</p>
        </div>
      </div>

    </form>
  </div>

</section>