@import "~src/style/_variables";

nav {
  position: relative;
  width: 96%;
  margin-left: 2%;
  margin-top: 20%;
  
  ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    list-style: none;
    
    margin-top: -1.5%;

    background-image: linear-gradient(to right, $windows-blue, $greyish-teal 23%, $burnt-yellow 51%, $blush 76%, $light-peach);
    background-size: 100% 3px;
    background-position-y: 25%;
    background-repeat: no-repeat;
    
    div {

      display: inline-flex;
      justify-content: center;
      align-items: center;

      top: -1px;
      left: 0;
      padding: 0;
      margin-top: -1%;

      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 1px solid $very-light-pink;
      background-color: white;

      &:before {
        display: block;
        top: -5px;
        left: -5px;
        content: '';
        height: 6px;
        width: 6px;
        border: 4px solid white;
        background: white;
        border-radius: 50%;
        @include transition(transform, .5s, ease-in-out);
      }

      &.current {
        &:before {
          background: $very-light-pink;
        }
      }

      div {
        @include desktop {
          display: block;
        }

        display: none;
        min-width: 120px;
        left: -35%;
        position: relative;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: black;
      }
    }
  }

  @include not-phones {
    margin-top: 15%;

    ul {
      background-size: 100% 6px;

      div {
        height: 35px;
        width: 35px;
        
        &:before {
          height: 15px;
          width: 15px;
        }
      }
    } 
  }
}

.page {
  display: none;

  &.active {
    display: block;
  }

  h5 {
    margin-top: 0;
  }

  hr {
    border: solid 1px #ddd;
    margin-top: 6%;
  }
}

.submit-btn {
  
  @include button-style();
  margin-top: 15%;

  input {
    font-size: 1em;
    background: none;
    border: none;
    color: white;
  }

}