@import "~src/style/_variables";

#top {

  background-image: cdn-image('img/submit-partner-bg', c_fill, w_322);

  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;


  @include not-phones {
    background-image: cdn-image('img/submit-partner-bg', c_fill, w_700);
    background-size: auto;
    background-position-x: center;

    min-height: 535px;
  }

}

#body {

    height: fit-content;
    min-height: 400px;

}

// Fix for app button width; inelegant but works fine
#back {
  app-button {
    max-width: 182px;
    @include phones {
      max-width: 94px;
    }
  }
}

form p {
  @include pxtoem(18, 36);
}

h5 {
    margin-top: 3%;
}