@import "~src/style/_variables";

#top {

  background-image: cdn-image('img/submit-partner-bg', c_fill, w_322);

  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;


  @include not-phones {
    background-image: cdn-image('img/submit-partner-bg', c_fill, w_700);
    background-size: auto;
    background-position-x: center;

    min-height: 535px;
  }

}

form p {
  @include pxtoem(18, 36);
}