<section *ngIf="hasContent">

  <div class="column columns is-multiline is-mobile is-centered no-margin">
    <h2 class="outline pg-header column is-11" [attr.data-text]="narrative.title">
      {{narrative.title}}
    </h2>
    <div id="info" class="column is-10 is-half-desktop no-pad center">

      <div class="name man-bold">
        {{narrative.name}}
      </div>
      <div class="date">
        {{narrative.readingTime}} minute read &#8212; <span>{{narrative.submitDate | date: "MMM dd, yyyy"}}</span>
      </div>
    </div>
  </div>

  <div id="narrative">
    <p [innerHtml]="narrative.body"></p>
  </div>

</section>
